<!DOCTYPE html>

<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="./read.css">
<title>YourProfile</title>

<p>load profile</p>
<a href="javascript:;" onClick="document.getElementById('hideaway').style.display='block';">Reveal hidden content</a>
</head>

<body id="hideaway">
<%= yield %>

</body>




</html>