<!DOCTYPE html>

<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="./read.css">
<title>YourProfile</title>
</head>

<form action="demo_form.asp">
 Github username: <input type="text" name="fname"><br>
 
  <input type="submit" value="Submit">
  <%= GithubUser %>
</form>

</html>