<div id="todo">
<h1>User#show</h1>
<h2>Profile of <%= @user.email %></h2>
<h3>Number of tweets: <%= @user.tweets.count %></h3>

<table id="tweets-container" style = "margin:0 auto;">
 <tbody>
  <%= render @user.tweets %>
 </tbody>
</table>
</div>

