

<h2>Welcome to Twitterz</h2>

<h3>What is Twitterz?</h3>

<p>Twitterz is a place for fun, you can post whatever is on your mind and share it with your friends, family or anyone! Make an account on the bar above and join the fun</p>
