

<div id = "todo">
<%=form_for @tweet, remote: true do |f| %>

  <%=f.text_area "content", placeholder: "What's new minion?" %>
  <br>
  <%=f.submit "Tweet it!", class: "tweet_button"%>


<%end%>
<table id="tweets-container" style = "margin:0 auto;">
 <tbody>
    <%= render @tweets %>
  </tbody>
</table>
</div>
